<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<aop:aspectj-autoproxy />
	
	<!-- Topics -->
	<bean id="net.jforum.events.listeners.TopicEventListener" class="net.jforum.events.listeners.TopicEventListener">
		<property name="events">
			<list>
				<bean class="net.jforum.core.events.topic.ForumTopicEvent" autowire="constructor"/>
				<bean class="net.jforum.core.events.topic.TopicWatchTopicEvent" autowire="constructor"/>
			</list>
		</property>
	</bean>
	
	<!-- Posts -->
	<bean id="net.jforum.events.listeners.PostEventListener" class="net.jforum.events.listeners.PostEventListener">
		<property name="events">
			<list>
				<bean class="net.jforum.core.events.post.TopicPostEvent" autowire="constructor"/>
				<bean class="net.jforum.core.events.post.ForumPostEvent" autowire="constructor"/>
				<bean class="net.jforum.core.events.post.TopicWatchPostEvent" autowire="constructor"/>
				<bean class="net.jforum.core.events.post.TopicReplyEvent" autowire="constructor"/>
				<bean class="net.jforum.core.events.post.BadWordEvent" autowire="constructor"/>
			</list>
		</property>
	</bean>
	
	<!-- Forum -->
	<bean id="net.jforum.events.listeners.ForumEventListener" class="net.jforum.events.listeners.ForumEventListener">
		<property name="events">
			<list>
				<bean class="net.jforum.core.events.forum.NewForumGroupPermissionsEvent" autowire="constructor"/>
			</list>
		</property>
	</bean>
	
	<!-- Category -->
	<bean id="net.jforum.events.listeners.CategoryEventListener" class="net.jforum.events.listeners.CategoryEventListener">
		<property name="events">
			<list>
				<bean class="net.jforum.core.events.category.NewCategoryGroupPermissionsEvent" autowire="constructor"/>
			</list>
		</property>
	</bean>
</beans>