<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="jforum-stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %5p [%-20c{1}] %m%n"/>
		</layout>
	</appender>
	
	<appender name="jforum.log" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize"  value="1024KB"/>
		<param name="MaxBackupIndex" value="4"/>

		<param name="File" value="/tmp/jforum.log"/>
		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%-c{1}] - %m%n"/>
	   </layout>
	</appender>
	
	<category name="org.springframework">
		<priority value="info"/>
		<appender-ref ref="jforum-stdout"/>
	</category>
	
	<category name="org.hibernate">
		<priority value="info"/>
		<appender-ref ref="jforum-stdout"/>
	</category>

	<!-- 
	<category name="org.hibernate.cache">
		<priority value="trace"/>
		<appender-ref ref="jforum-stdout"/>
	</category>
	 -->

	<category name="net.jforum">
		<priority value="info" />
		<appender-ref ref="jforum-stdout" />
		<appender-ref ref="jforum.log"/>
	</category>
	
	<category name="br.com.caelum.vraptor">
		<priority value="info"/>
		<appender-ref ref="jforum-stdout"/>
	</category>
</log4j:configuration>