.de_DE .icon_new_topic img { background-image: url(../images/de_DE/post.gif); width: 108px; height: 25px; }
.de_DE .icon_reply img { background-image: url(../images/de_DE/reply.gif); width: 108px; height: 25px; }
.de_DE .icon_reply_locked img { background-image: url(../images/de_DE/reply_locked.gif); width: 108px; height: 25px; }
.de_DE .icon_quote img { background-image: url(../images/de_DE/icon_quote.gif); width: 67px; height: 18px; }
.de_DE .icon_edit img { background-image: url(../images/de_DE/icon_edit.gif); width: 59px; height: 18px; }
.de_DE .icon_profile img { background-image: url(../images/de_DE/icon_profile.gif); width: 67px; height: 18px; }
.de_DE .icon_pm img { background-image: url(../images/de_DE/icon_pm.gif); width: 59px; height: 18px; }
