.fr_FR .icon_new_topic img { background-image: url(../images/fr_FR/post.gif); width: 82px; height: 25px; }
.fr_FR .icon_reply img { background-image: url(../images/fr_FR/reply.gif); width: 82px; height: 25px; }
.fr_FR .icon_reply_locked img { background-image: url(../images/fr_FR/reply_locked.gif); width: 82px; height: 25px; }
.fr_FR .icon_quote img { background-image: url(../images/fr_FR/icon_quote.gif); width: 59px; height: 18px; }
.fr_FR .icon_edit img { background-image: url(../images/fr_FR/icon_edit.gif); width: 59px; height: 18px; }
.fr_FR .icon_profile img { background-image: url(../images/fr_FR/icon_profile.gif); width: 59px; height: 18px; }
.fr_FR .icon_pm img { background-image: url(../images/fr_FR/icon_pm.gif); width: 59px; height: 18px; }