.zh_TW .icon_new_topic img { background-image: url(../images/zh_TW/post.gif); width: 82px; height: 25px; }
.zh_TW .icon_reply img { background-image: url(../images/zh_TW/reply.gif); width: 82px; height: 25px; }
.zh_TW .icon_reply_locked img { background-image: url(../images/zh_TW/reply_locked.gif); width: 82px; height: 25px; }
.zh_TW .icon_quote img { background-image: url(../images/zh_TW/icon_quote.gif); width: 59px; height: 18px; }
.zh_TW .icon_edit img { background-image: url(../images/zh_TW/icon_edit.gif); width: 59px; height: 18px; }
.zh_TW .icon_profile img { background-image: url(../images/zh_TW/icon_profile.gif); width: 59px; height: 18px; }
.zh_TW .icon_pm img { background-image: url(../images/zh_TW/icon_pm.gif); width: 59px; height: 18px; }

.zh_TW th { font-size: 15px; }
.zh_TW th.thhead { font-size: 16px; }
.zh_TW td.cathead { font-size: 16px; }

.zh_TW .gen, .poll { font-size : 16px; }
.zh_TW .genmed, .name { font-size : 15px; }
.zh_TW .gensmall, .postdetails { font-size : 14px; }

.zh_TW .mainmenu { font-size: 15px; }
.zh_TW .cattitle { font-size: 16px; }
.zh_TW .forumlink { font-size: 16px; }
.zh_TW .nav, .topictitle { font-size: 15px; }

.zh_TW .postbody { font-size: 16px; }
.zh_TW .postinfo { font-size: 13px; }

.zh_TW input, textarea, select { font-size: 15px; } 

.zh_TW .moderator { font-size: 14px; }
.zh_TW .admin { font-size: 14px; }

