.es_ES .icon_new_topic img { background-image: url(../images/es_ES/post.gif); width: 93px; height: 25px; }
.es_ES .icon_reply img { background-image: url(../images/es_ES/reply.gif); width: 93px; height: 25px; }
.es_ES .icon_reply_locked img { background-image: url(../images/es_ES/reply_locked.gif); width: 93px; height: 25px; }
.es_ES .icon_quote img { background-image: url(../images/es_ES/icon_quote.gif); width: 67px; height: 18px; }
.es_ES .icon_edit img { background-image: url(../images/es_ES/icon_edit.gif); width: 67px; height: 18px; }
.es_ES .icon_profile img { background-image: url(../images/es_ES/icon_profile.gif); width: 67px; height: 18px; }
.es_ES .icon_pm img { background-image: url(../images/es_ES/icon_pm.gif); width: 67px; height: 18px; }