.nb_NO .icon_new_topic img { background-image: url(../images/nb_NO/post.gif); width: 92px; height: 25px; }
.nb_NO .icon_reply img { background-image: url(../images/nb_NO/reply.gif); width: 120px; height: 25px; }
.nb_NO .icon_reply_locked img { background-image: url(../images/nb_NO/reply_locked.gif); width: 63px; height: 25px; }
.nb_NO .icon_quote img { background-image: url(../images/nb_NO/icon_quote.gif); width: 67px; height: 18px; }
.nb_NO .icon_edit img { background-image: url(../images/nb_NO/icon_edit.gif); width: 70px; height: 18px; }
.nb_NO .icon_profile img { background-image: url(../images/nb_NO/icon_profile.gif); width: 67px; height: 18px; }
.nb_NO .icon_pm img { background-image: url(../images/nb_NO/icon_pm.gif); width: 59px; height: 18px; }
