.pl_PL .icon_new_topic img { background-image: url(../images/pl_PL/post.gif); width: 82px; height: 25px; }
.pl_PL .icon_reply img { background-image: url(../images/pl_PL/reply.gif); width: 82px; height: 25px; }
.pl_PL .icon_reply_locked img { background-image: url(../images/pl_PL/reply_locked.gif); width: 82px; height: 25px; }
.pl_PL .icon_quote img { background-image: url(../images/pl_PL/icon_quote.gif); width: 59px; height: 18px; }
.pl_PL .icon_edit img { background-image: url(../images/pl_PL/icon_edit.gif); width: 59px; height: 18px; }
.pl_PL .icon_profile img { background-image: url(../images/pl_PL/icon_profile.gif); width: 59px; height: 18px; }
.pl_PL .icon_pm img { background-image: url(../images/pl_PL/icon_pm.gif); width: 59px; height: 18px; }