.ru_RU .icon_new_topic img { background-image: url(../images/ru_RU/post.gif); width: 89px; height: 25px; }
.ru_RU .icon_reply img { background-image: url(../images/ru_RU/reply.gif); width: 76px; height: 25px; }
.ru_RU .icon_reply_locked img { background-image: url(../images/ru_RU/reply_locked.gif); width: 82px; height: 25px; }
.ru_RU .icon_quote img { background-image: url(../images/ru_RU/icon_quote.gif); width: 62px; height: 18px; }
.ru_RU .icon_edit img { background-image: url(../images/ru_RU/icon_edit.gif); width: 59px; height: 18px; }
.ru_RU .icon_profile img { background-image: url(../images/ru_RU/icon_profile.gif); width: 71px; height: 18px; }
.ru_RU .icon_pm img { background-image: url(../images/ru_RU/icon_pm.gif); width: 57px; height: 18px; }